<mat-drawer-container class="example-container" autosize>
    <mat-drawer color="primary" #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <a mat-list-item href="{{link.link}}" [target]="link.target" *ngFor="let link of links"> {{ link.name }} </a>
         </mat-nav-list>
    </mat-drawer>

    <mat-toolbar color="primary">
        <button 
            mat-icon-button 
            class="example-icon" 
            aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle()"
        >
          <mat-icon mat-mini-fab color="primary">menu</mat-icon>
        </button>
        <span>Serviços de atendimento ao cidadão</span>
        <span class="example-spacer"></span>
    </mat-toolbar>


    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
